{{define "base"}}
<!doctype html>
<html lang="kk">
    <head>
        <meta charset='utf-8'>
        <title>Kazakh@Express</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="navbar">
            <div class="container nav-content">
                <h1><a href='/'>Kazakh<span>@Express</span></a></h1>
              <nav>
                  <ul class="nav-links">
                      <li><a href="/">Басты бет</a></li>
                      <li><a href="/catalog">Каталог</a></li>

                      {{if $.IsAuthenticated}}
                          {{if eq $.UserRole "customer"}}
                              <li><a href="/orders">Тапсырыстарым</a></li>
                              <li><a href="/cart">Себет</a></li>
                          {{end}}

                          {{if eq $.UserRole "seller"}}
                              <li><a href="/seller/dashboard" style="color: #00afca;">Сатушы орталығы</a></li>
                          {{end}}

                          {{if eq $.UserRole "admin"}}
                              <li><a href="/admin/dashboard" style="color: #fcd116;">Админ панелі</a></li>
                          {{end}}

                          <li>
                              <form action='/logout' method='POST' style='display:inline'>
                                  <button class="logout-btn">Шығу ({{.UserName}})</button>
                              </form>
                          </li>
                      {{else}}
                          <li><a href="/login">Кіру</a></li>
                          <li><a href="/register" class="signup-btn">Тіркелу</a></li>
                      {{end}}
                  </ul>
              </nav>
            </div>
        </header>

        <main class="container">
            {{template "main" .}}
        </main>

        <footer class="container">
            <p>&copy; 2026 Kazakh Aliexpress — Отандық сатушылар, жылдам жеткізу</p>
        </footer>
    </body>
</html>
{{end}}