{{define "base"}}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <meta charset='utf-8'>
        <title>Kazakh@Express</title>
    </head>
    <body>
        <header class="container">
            <h1><a href='/'>Kazakh@Express</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/orders">Orders</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {{template "main" .}} </main>
    </body>
</html>
{{end}}