{{template "base" .}}

{{define "title"}}Жүйеге кіру{{end}}

{{define "main"}}
<article style="max-width: 600px; margin: auto;">
    <header>
        <h2>Қайта қош келдіңіз!</h2>
        <p>Kazakh@Express аккаунтыңызға кіріңіз</p>
    </header>
    <form action='/login' method='POST'>
        <div>
            <label>Электрондық пошта</label>
            <input type='email' name='email' placeholder="example@mail.kz" required>
        </div>

        <div>
            <label>Құпия сөз</label>
            <input type='password' name='password' required>
        </div>

        <button type='submit' class="signup-btn" style="width: 100%; margin-top: 20px;">Кіру</button>
    </form>
    <footer style="margin-top: 20px; text-align: center;">
        <p>Аккаунтыңыз жоқ па? <a href="/register">Осында тіркеліңіз</a></p>
    </footer>
</article>
{{end}}