{{template "base" .}}

{{define "title"}}Тапсырыс #{{.Order.ID.Hex}}{{end}}

{{define "main"}}
<div class="container">
    <nav style="margin-bottom: 20px;">
        <a href="/orders">← Тапсырыстарым тізіміне қайту</a>
    </nav>

    {{with .Order}}
    <div class="card" style="padding: 20px; border: 1px solid #eee;">
        <h2>Тапсырыс туралы мәліметтер</h2>
        <hr>
        <p><strong>Тапсырыс ID:</strong> {{.ID.Hex}}</p>
        <p><strong>Күйі:</strong> {{.Status}}</p>
        <p><strong>Уақыты:</strong> {{.CreatedAt.Format "02.01.2006, 15:04"}}</p>
        <p><strong>Жалпы сомасы:</strong> {{.TotalPrice}} ₸</p>
    </div>
    {{end}}
</div>
{{end}}