{{template "base" .}}

{{define "title"}}Тіркелу{{end}}

{{define "main"}}
<article style="max-width: 600px; margin: auto;">
    <header>
        <h2>Аккаунт жасау</h2>
        <p>Kazakh@Express қауымдастығына қосылыңыз</p>
    </header>
    <form action='/register' method='POST'>
        <div>
            <label>Электрондық пошта</label>
            <input type='email' name='email' placeholder="example@mail.kz" required>
        </div>

        <div>
            <label>Құпия сөз</label>
            <input type='password' name='password' minlength="8" required>
        </div>

        <div>
            <label>Тіркелу мақсатым:</label>
            <select name="role">
                <option value="customer">Сатып алушымын (Тауар алғым келеді)</option>
                <option value="seller">Сатушымын (Тауар сатқым келеді)</option>
            </select>
        </div>

        <button type='submit' class="signup-btn" style="width: 100%; margin-top: 20px;">Тіркелу</button>
    </form>
    <footer style="margin-top: 20px; text-align: center;">
        <p>Аккаунтыңыз бар ма? <a href="/login">Осында кіріңіз</a></p>
    </footer>
</article>
{{end}}