body {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    color: white;
    background-color: midnightblue;
}

header h1 a {
    color: #eec643;
    text-decoration: none;
    text-align: center;
}

nav {
    background-color: #0d21a1;
    padding: 10px;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}